@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&family=Nunito:wght@500&display=swap');

.mini-gap-remover {
    height: -6px;
    margin-top: -6px;
}

.itty-gap-remover {
    height: -12px;
    margin-top: -12px;
}

.small-gap-remover {
    height: -20px;
    margin-top: -20px;
}

.tiny-break {
    height: 2px;
}

.mini-break {
    height: 6px;
}

.small-break {
    height: 8px;
}

.medium-break {
    height: 16px;
}

.big-input-numeral {
    font-size:30px;
    font-family: 'Courier New', monospace;
    text-align: center;

    border-radius: 4px;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

.drop-down-selector {
    font-size: 16px;
    height: 36px;
}

.medium-input-text-block {
    font-size:23px;
    font-family: 'Courier New', monospace;
    text-align: center;

    border-style: none;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

.big-input-text-block {
    font-size:27px;
    font-family: 'Courier New', monospace;
    text-align: center;

    border-style: none;


    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

.big-input-text-hand {
    font-size:39px;
    font-family: 'Bilbo Swash Caps', cursive;
    text-align: center;
    font-weight: 600;

    border-style: none;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 2px;
}

.input-title-small {
    font-family: 'Nunito', sans-serif;
    color: #313131;
    font-weight: 400;
    font-size: 20px;


    margin-left: 6px;
}

.input-title-medium {
    font-family: 'Nunito', sans-serif;
    color: #131313;
    font-weight: 400;
    font-size: 26px;

    text-align: center;
}

.input-title-large {
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    font-weight:600;
    font-size: 31px;

    margin-left: 4px;

    text-shadow:
        1px 1px 0.2px #000,
        0.75px 0.75px 0.2px #000,
        0.5px 0.5px 0.2px #000,
        0.25px 0.25px 0.2px #000,

      -1px -1px 0.2px #000,
      -0.5px -0.5px 0.2px #000,
      -0.75px -0.75px 0.2px #000,
      -0.25px -0.25px 0.2px #000,

       1px -1px 0.2px #000,
       0.75px -0.75px 0.2px #000,
       0.5px -0.5px 0.2px #000,
       0.25px -0.25px 0.2px #000,

       -1px 1px 0.2px #000,
       -0.75px 0.75px 0.2px #000,
       -0.5px 0.5px 0.2px #000,
       -0.25px 0.25px 0.2px #000,

        0px 1px 0.2px #000,
        0px 0.75px 0.2px #000,
        0px 0.5px 0.2px #000,
        0px 0.25px 0.2px #000,

        0px -1px 0.2px #000,
        0px -0.5px 0.2px #000,
        0px -0.75px 0.2px #000,
        0px -0.25px 0.2px #000,

        1px 0px 0.2px #000,
        0.75px 0px 0.2px #000,
        0.5px 0px 0.2px #000,
        0.25px 0px 0.2px #000,

        -1px 0px 0.2px #000,
        -0.75px 0px 0.2px #000,
        -0.5px 0px 0.2px #000,
        -0.25px 0px 0.2px #000;
}

.stat-title-medium {
	font-family: 'Nunito', sans-serif;
	color: #131313;
	font-weight: 650;
	font-size: 14px;
	text-align: center;
}

.journal-sheet-background {
    background-image: url('https://raw.githubusercontent.com/Moar-Chan/konosuba-sheet/main/journal-background-small.png');
    background-repeat: no-repeat;
    height: 1409px;
    width: 960px;
    background-size: 960px 1409px;
}

.character-sheet-background {
    background-image: url('https://raw.githubusercontent.com/Moar-Chan/konosuba-sheet/main/character-background-small.png');
    background-repeat: no-repeat;
    height: 1409px;
    width: 960px;
    background-size: 960px 1409px;
}

/*Configure the tab buttons*/
.charsheet .sheet-character,
.charsheet .sheet-config,
.charsheet .sheet-journal {
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="character"] ~ div.sheet-character,
.charsheet .sheet-tabstoggle[value="configuration"] ~ div.sheet-config,
.charsheet .sheet-tabstoggle[value="journal"] ~ div.sheet-journal {
    display: block;
}

.container {
    column-gap: 0;
}