@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&family=Nunito:wght@500&display=swap');


.journal-sheet-background {
    background-image: url('https://raw.githubusercontent.com/Moar-Chan/konosuba-sheet/main/art/V2/journal-background-small.png');
}

.character-sheet-background {
    background-image: url('https://raw.githubusercontent.com/Moar-Chan/konosuba-sheet/main/art/V2/character-background-small.png');
}

.equipment-sheet-background {
    background-image: url('https://raw.githubusercontent.com/Moar-Chan/konosuba-sheet/main/art/V2/equipment-background-small.png');
}

.skills-sheet-background {
    background-image: url('https://raw.githubusercontent.com/Moar-Chan/konosuba-sheet/main/art/V2/skills-background-small.png');
}

.default-sheet-background {
    background-image: url('https://raw.githubusercontent.com/Moar-Chan/konosuba-sheet/main/art/V2/background-small.png');
}

.sheet-background {
    background-repeat: no-repeat;
    height: 824px;
    width: 888px;
    background-size: 888px 824px;
}

/*Configure the tab buttons*/
.charsheet .sheet-character,
.charsheet .sheet-config,
.charsheet .sheet-equipment,
.charsheet .sheet-skills,
.charsheet .sheet-journal {
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="character"] ~ div.sheet-character,
.charsheet .sheet-tabstoggle[value="configuration"] ~ div.sheet-config,
.charsheet .sheet-tabstoggle[value="journal"] ~ div.sheet-journal,
.charsheet .sheet-tabstoggle[value="equipment"] ~ div.sheet-equipment,
.charsheet .sheet-tabstoggle[value="skills"] ~ div.sheet-skills {
    display: block;
}

.container {
    column-gap: 0;
}

.sheet-block-a,
.charsheet .sheet-block-switch:checked ~ .sheet-block-b {
  display: block;
}

.charsheet .sheet-block-b,
.charsheet .sheet-block-switch:checked ~ .sheet-block-a {
  display: none;
}

.mini-gap-remover {
    height: -6px;
    margin-top: -6px;
}

.itty-gap-remover {
    height: -12px;
    margin-top: -12px;
}

.small-gap-remover {
    height: -20px;
    margin-top: -20px;
}

.medium-gap-remover {
    height: -25px;
    margin-top: -25px;
}

.tiny-break {
    height: 2px;
}

.mini-break {
    height: 6px;
}

.small-break {
    height: 8px;
}

.medium-break {
    height: 16px;
}

.big-input-numeral {
    font-size:25px;
    font-family: 'Courier New', monospace;
    text-align: center;

    border-radius: 4px;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;

    background: transparent;
}

.drop-down-selector {
    font-size: 16px;
    height: 36px;
}

.medium-input-text-block {
    font-size:22px;
    font-family: 'Courier New', monospace;
    text-align: center;

    border-style: none;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;

    background: transparent;
}

.big-input-text-block {
    font-size:27px;
    font-family: 'Courier New', monospace;
    text-align: center;

    border-style: none;


    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;

    background: transparent;
}

.big-input-text-hand {
    font-size:30px;
    font-family: 'Bilbo Swash Caps', cursive;
    text-align: center;
    font-weight: 600;

    border-style: none;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 2px;

    background: transparent;
}

.input-title-tiny {
    font-family: 'Nunito', sans-serif;
    color: #313131;
    font-weight: 400;
    font-size: 16px;


    margin-left: 6px;
}

.input-title-small {
    font-family: 'Nunito', sans-serif;
    color: #313131;
    font-weight: 400;
    font-size: 16px;


    margin-left: 6px;
}

.input-title-medium {
    font-family: 'Nunito', sans-serif;
    color: #131313;
    font-weight: 400;
    font-size: 26px;

    text-align: center;
}

.input-title-large {
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    font-weight:600;
    font-size: 26px;

    margin-left: 4px;

    text-shadow:
        1px 1px 0.2px #000,
        0.75px 0.75px 0.2px #000,
        0.5px 0.5px 0.2px #000,
        0.25px 0.25px 0.2px #000,

      -1px -1px 0.2px #000,
      -0.5px -0.5px 0.2px #000,
      -0.75px -0.75px 0.2px #000,
      -0.25px -0.25px 0.2px #000,

       1px -1px 0.2px #000,
       0.75px -0.75px 0.2px #000,
       0.5px -0.5px 0.2px #000,
       0.25px -0.25px 0.2px #000,

       -1px 1px 0.2px #000,
       -0.75px 0.75px 0.2px #000,
       -0.5px 0.5px 0.2px #000,
       -0.25px 0.25px 0.2px #000,

        0px 1px 0.2px #000,
        0px 0.75px 0.2px #000,
        0px 0.5px 0.2px #000,
        0px 0.25px 0.2px #000,

        0px -1px 0.2px #000,
        0px -0.5px 0.2px #000,
        0px -0.75px 0.2px #000,
        0px -0.25px 0.2px #000,

        1px 0px 0.2px #000,
        0.75px 0px 0.2px #000,
        0.5px 0px 0.2px #000,
        0.25px 0px 0.2px #000,

        -1px 0px 0.2px #000,
        -0.75px 0px 0.2px #000,
        -0.5px 0px 0.2px #000,
        -0.25px 0px 0.2px #000;
}

.stat-title-medium {
	font-family: 'Nunito', sans-serif;
	color: #131313;
	font-weight: 650;
	font-size: 14px;
	text-align: center;
}

.attribute-medium-large {
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    font-weight:600;
    font-size: 27px;

    text-align: center;

    text-shadow:
        1px 1px 0.2px #000,
        0.75px 0.75px 0.2px #000,
        0.5px 0.5px 0.2px #000,
        0.25px 0.25px 0.2px #000,

      -1px -1px 0.2px #000,
      -0.5px -0.5px 0.2px #000,
      -0.75px -0.75px 0.2px #000,
      -0.25px -0.25px 0.2px #000,

       1px -1px 0.2px #000,
       0.75px -0.75px 0.2px #000,
       0.5px -0.5px 0.2px #000,
       0.25px -0.25px 0.2px #000,

       -1px 1px 0.2px #000,
       -0.75px 0.75px 0.2px #000,
       -0.5px 0.5px 0.2px #000,
       -0.25px 0.25px 0.2px #000,

        0px 1px 0.2px #000,
        0px 0.75px 0.2px #000,
        0px 0.5px 0.2px #000,
        0px 0.25px 0.2px #000,

        0px -1px 0.2px #000,
        0px -0.5px 0.2px #000,
        0px -0.75px 0.2px #000,
        0px -0.25px 0.2px #000,

        1px 0px 0.2px #000,
        0.75px 0px 0.2px #000,
        0.5px 0px 0.2px #000,
        0.25px 0px 0.2px #000,

        -1px 0px 0.2px #000,
        -0.75px 0px 0.2px #000,
        -0.5px 0px 0.2px #000,
        -0.25px 0px 0.2px #000;
}


.portrait-img{
    width: 319px;
    height: 323px;
}

.stat-column {
    top: 539px;
}

.column-space {
    margin-top: 5px;
}

.ability-box {
    width: 51px;
    display: block;
    border-style: none;
    margin-left: 9px;
}



.mob-input {
    font-size:14px;
}

button[type=roll].sheet-blank-roll-button::before {
    content: '';
}
